@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700;800&family=Outfit:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
    --editor-bg-clr: hsl(251, 2%, 10%);
    --editor-bar-clr: hsl(0, 0%, 7%);
    --code-hgt: .5rem;
    --brws-tl-bar-clr: hsl(0, 0%, 90%);
    --brws-tl-bar-clr: hsl(0, 0%, 90%);
    --brws-tl-bar-brdr-clr: hsl(0, 0%, 80%);
    --tlbr-icon-clr: hsl(204, 9%, 55%);
    --tag-clr: hsl(349, 100%, 65%);
    --attr-clr: hsl(261, 55%, 57%);
    --txt-xlr: hsl(89, 75%, 61%);
    --inner-html-clr: hsl(0, 0%, 100%);
    --brwsr-vp-bg-clr: hsl(156, 58%, 80%);
    --plnt-2-pr-clr: hsl(6, 74%, 44%);
    --plnt-2-sc-clr: hsl(6, 74%, 38%);
    --fnt-pr-clr: hsl(156, 100%, 4%);



    /* --wp--preset--color--light-green-cyan: hsl(156, 58%, 67%); */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* font-family: 'Karla', sans-serif; */

    /* font-family: 'Outfit', sans-serif; */
    /* font-family:  sans-serif; */

    font-family: 'Poppins', sans-serif;
    background-color: hsl(156, 100%, 96%);
    color: var(--fnt-pr-clr);

}


a {
    text-decoration: none;
}


.hero {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: stretch;
}

.editor,
.browser {
    width: 50%;
}

.editor {
    display: flex;
    flex-direction: column;
    background-color: var(--editor-bg-clr);
}

.code {
    /* border: 2px solid red; */
    overflow: hidden;
}

.tab-bar {
    width: 100%;
    height: 1.5rem;
    background-color: var(--editor-bar-clr);
    display: flex;
    align-items: center;
    gap: .5rem;
}



.tab-name {
    background: hsl(0, 0%, 50%);
    width: 5rem;
    height: .45rem;
    margin-inline-start: 2.6rem;
    border-radius: 100vh;
    display: flex;
    align-items: center;

}

.close-icon {
    width: .8rem;
    aspect-ratio: 1;
}

.sideBar-code {
    height: 93%;
    flex: 1;
    display: flex;
    /* border: 2px solid blue; */

}

.side-bar {
    height: 100%;
    width: 2.25rem;
    background-color: var(--editor-bar-clr);
    padding-block-end: 1.25rem;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.upper-icons,
.lower-icons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.side-bar-icon {
    width: 1.3rem;
    aspect-ratio: 1;
}

.line {
    display: flex;
    margin: .4rem;
    align-items: center;
    gap: .4rem;
}


.tag,
.attribute,
.text,
.inner-html {
    height: var(--code-hgt);
    border-radius: 100vh;
}

.tag:hover,
.attribute:hover,
.text:hover,
.inner-html:hover {
    transform: scale(1.5);
}

.tag {
    background-color: var(--tag-clr);
}

.attribute {
    background-color: var(--attr-clr);
}

.text {
    background-color: var(--txt-xlr);
}

.inner-html {
    background-color: var(--inner-html-clr);
}

.large {
    width: 6rem;
}

.medium {
    width: 4rem;
}

.small {
    width: 2rem;
}

.xsmall {
    width: .8rem
}

.gap {
    margin-block: 1.5rem;
}

.margin-small {
    margin-inline-start: 2rem;
}

.margin-medium {
    margin-inline-start: 4rem;
}

.margin-large {
    margin-inline-start: 6rem;
}

.margin-xl {
    margin-inline-start: 8rem;

}

.aside-bar {
    height: 100%;
    width: .75rem;
    margin-left: auto;
    border-left: 1px solid var(--editor-bar-clr);
    background-color: var(--editor-bg-clr);
}

.bottom-bar {
    height: 1rem;
    border-top: 1px solid var(--editor-bar-clr);
    background-color: var(--editor-bg-clr);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-tab-left,
.bottom-tab-right {
    display: flex;
    gap: .5rem;
    padding-inline: 1rem;
    align-items: center;
}


.btm-tab-item {
    background: hsl(0, 0%, 40%);
    border-radius: 4px;
    height: .5rem;
}

.browser {
    display: flex;
    flex-direction: column;
    height: initial;
    border-radius: 5px;
    /* border-bottom: 2px solid var(--brws-tl-bar-brdr-clr);
    border-left: 2px solid var(--brws-tl-bar-brdr-clr);
    border-right: 2px solid var(--brws-tl-bar-brdr-clr); */
    border: 2px solid var(--brws-tl-bar-brdr-clr);

}

.tool-bar {
    background-color: var(--brws-tl-bar-clr);
    width: 100%;
    height: 2.5rem;
    border: 1px solid var(--brws-tl-bar-brdr-clr);

    display: flex;
    align-items: center;
    gap: .4rem;
    padding-inline: .4rem;
    cursor: pointer;
    border-radius: 7px 7px 0 0;
}

.toolbar-item {
    height: .9rem;
    aspect-ratio: 1;
    border-radius: 100vh;
}

.red-circle {
    background-color: #ff622e;
}

.yellow-circle {
    background-color: #ffa62e;
}

.green-circle {
    background-color: #55cc43;
}

.toolbar-icon {
    height: 1.3rem;
    aspect-ratio: 1;
    cursor: pointer;
    fill: var(--tlbr-icon-clr);
}

.refresh-icon {
    height: 1.1rem;
}

.find {
    height: 1.2rem;

    flex: 1;
    background-color: white;
    border-radius: 3px;
    border: 1px solid var(--brws-tl-bar-brdr-clr);
    display: flex;
    align-items: center;
    /* border: 2px solid red; */


}

.find-url {
    background-color: var(--brws-tl-bar-brdr-clr);
    width: 15rem;
    height: .45rem;
    border-radius: 100vh;
    margin-inline-start: .3rem;
    /* border: 2px solid red; */
}

.option {
    position: relative;
}

.option,
.option::before,
.option::after {
    height: .24rem;
    aspect-ratio: 1;
    background-color: var(--tlbr-icon-clr);
    border-radius: 100vh;
}

.option::before {
    position: absolute;
    content: "";
    bottom: .4rem;
}

.option::after {
    content: "";
    position: absolute;
    top: .4rem;
    ;
}

.brwsr-vp {
    flex: 1;
    background: #222;
    overflow: hidden;
    position: relative;
    /* border: 2px solid red; */
    /* background-color: hsla(180, 38%, 65%, 1); */
    /* background: hsla(225, 94%, 7%, 1); */
    /* background: hsla(240, 52%, 67%, 1); */
    background: var(--brwsr-vp-bg-clr);
    isolation: isolate;
}

.star-container {
    z-index: -1;
}

.about{
    position: absolute;
    top: 0;
}
/* shooting star :   https://codesandbox.io/s/css-shooting-stars-animation-forked-udnp87 */
/* planet :   https://codepen.io/Jackthomsonn/pen/vOvNgL?editors=1100 */
/* https://www.geeksforgeeks.org/how-to-create-shooting-star-animation-effect-using-css/ */

/* .star-container {
    width: 80%;
    height: 80%;
    background-size: 100% 100%;
} */

.star {
    position: absolute;
    top: 50%;
    left: 50%;
    width: .5rem;
    height: .5rem;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
    animation: shine 1ms linear infinite;
}

.star::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -150%;
    transform: translate(-10% -50%);
    width: 2rem;
    height: 1px;
    background: linear-gradient(90deg, transparent, #fff, transparent);

}

.star::after {
    content: '';
    position: absolute;
    top: -150%;
    left: 45%;
    /* transform: translate(-50%); */
    width: 1px;
    height: 2rem;
    background: linear-gradient(transparent, #fff, transparent);

}

.star:nth-child(1) {
    top: 10vh;
    left: 7vw;
}

.star:nth-child(2) {
    top: 37vh;
    left: 8rem;
    width: .8rem;
    height: .8rem;

}

.star:nth-child(2)::before {
    width: 3rem;
    height: 1px;

}

.star:nth-child(2)::after {
    width: 1px;
    height: 3rem;
}

.star:nth-child(3) {
    top: 33vh;
    left: 20vw;
}

.star:nth-child(4) {
    top: 6rem;
    left: 28rem;
}

.star:nth-child(5) {
    top: 1rem;
    left: 38rem;
}

.star:nth-child(6) {
    top: 45vh;
    left: 42vw;

}

.star:nth-child(7) {
    top: 26rem;
    left: 5rem;
}

.star:nth-child(8) {
    top: 80vh;
    left: 14rem;
    /* border: 2px solid red; */

}

.star:nth-child(9) {
    top: 70vh;
    left: 22rem;

}

.star:nth-child(10) {
    top: 75vh;
    left: 38vw;
    width: 1rem;
    height: 1rem;

}

.star:nth-child(10)::before {
    width: 4rem;
    height: 1px;
}

.star:nth-child(10)::after {
    width: 1px;
    height: 4rem;
}

@keyframes shine {

    0%,
    100% {
        transform: scale(1.1);
    }

    50% {
        /* transform: scale(.8); */
        opacity: .4;
    }
}


.planet2 {
    background: var(--plnt-2-pr-clr);
    /* box-shadow: inset -30px -30px 0px hsl(6, 50%, 50%); */
    box-shadow: inset -30px -30px 0px hsl(6, 74%, 42%);

    width: 13rem;
    height: 13rem;
    border-radius: 100%;
    position: relative;
    z-index: 2;

    margin-inline-start: 18rem;
    margin-block-start: 1rem;
    /* perspective: 100px; */
    animation-name: rotate;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

.planet2:before {
    content: '';
    background-color: var(--plnt-2-sc-clr);
    border-radius: 100%;
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    margin: 5px 100px 55px;
    /* border: 2px solid red; */
}

.planet2:after {
    content: '';
    background-color: var(--plnt-2-sc-clr);
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    display: block;
    margin: -20px 40px;
}

.planet1 {
    background: hsl(103, 50%, 52%);
    box-shadow: inset -10px -10px 0px hsl(103, 50%, 50%);
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    /* z-index: 2; */
    margin: 33vh 3rem 8vh 18rem;
    animation-name: rotate;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.planet1:before {
    content: '';
    background: hsl(103, 50%, 47%);
    border-radius: 100%;
    width: .4rem;
    height: .4rem;
    display: block;
    margin: 25px 35px;
    /* border: 2px solid red; */
}

.planet1::after {
    content: '';
    background: hsl(103, 50%, 48%);
    border-radius: 100%;
    width: 1rem;
    height: 1rem;
    display: block;
    margin: -10px 20px;
}

@keyframes rotate {

    0% {
        transform: translateX(-500px);
    }

    50% {
        transform: scale(0.8);
    }

    100% {
        transform: translateX(500px);
    }

}

/* .planet-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 92vh; */
/* background: url(./bg0.jpg);
    background-position-x: center;
    background-size: cover; */
/* animation: animateBg 50s linear infinite; */
/* border: 2px solid red; */
/* } */

.shooting-star {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
    animation: animate 6s linear infinite;
    z-index: 3;
    /* border: 2px solid red; */

    /* transform: translateX(-100px)  */
}

.shooting-star::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 18rem;
    height: .07rem;
    background: linear-gradient(90deg, #fff, transparent);
    /* z-index: 3; */

    /* border: 2px solid red; */
}

@keyframes animate {
    0% {
        transform: rotate(150deg) translateX(1000px);
        opacity: 1;
    }

    70% {
        opacity: 1;

    }

    100% {
        transform: rotate(200deg) translateX(-1500px);
        opacity: 0;

    }
}

.shooting-star:nth-child(1) {
    top: 8rem;
    right: 0;
    left: initial;
    animation-delay: 0;
    animation-duration: 8s;
}

.shooting-star:nth-child(2) {
    top: 14rem;
    right: 4rem;
    left: initial;
    animation-delay: 2s;
    animation-duration: 6s;
    z-index: 1;
}

.shooting-star:nth-child(3) {
    top: 17rem;
    right: 0;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 4s;
}

.content-container {
    /* background-color: hsl(156, 100%, 96%); */
    /* color: var(--fnt-pr-clr); ---------------------------------------------------*/
    padding: 25vh 6vw;
    isolation: isolate;
}

.container-title {
    font-size: 2.75rem;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    /* border: 2px solid red; */
}

/* .about > h1 {
    margin: 0;
} */

.container-title::after {
    content: ' ';
    height: 25%;
    display: block;
    position: absolute;
    /* bottom: 50%; */
    top: 50%;
    /* background-color: hsl(156, 100%, 24%); */
    background-color: var(--plnt-2-sc-clr);
    width: 100%;
    z-index: -2;
    /* left: 50%; */
    /* transform: translateX(-50%); */
}

/* .about, */
.projects {
    background-color: hsl(156, 100%, 96%);

    /* box-shadow: -2px 1px 5px 1px rgba(0,0,0,1); */

    /* border: 2px solid red; */

}

.fd {
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
}

.social-icons-container,
.skill-icons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .75rem;
}

.social-icon,
.skill-icon {
    width: 2rem;
    /* aspect-ratio: 1; */
    fill: var(--brwsr-vp-bg-clr);
}

.social-icon {
    aspect-ratio: 1;
}

.skills-container {
    /* border: 2px solid red; */
    background-color: #fff;
    /* box-shadow: 0px 1px 5px 0px rgba(0,0,0,.2); */
}

.skill-icons-container>div {
    text-align: center;
    /* border: 2px solid blue; */
}

.skill-icons-container>div>p {
    margin-top: -3rem;
    color: var(--tlbr-icon-clr);
    /* border: 2px solid green; */
}


.skills-title {
    margin-bottom: -2.75rem;
}

.skill-icon {
    width: 4rem;
    /* height: 4rem; */
}

.css-icon {
    width: 5rem;
    /* height: 4.5rem; */
}

.cards-container {
    display: flex;
    gap: 1rem
}

.card {
    background-color: #fff;
    border-radius: 1rem;
    overflow: hidden;
    flex: 1;
    /* border: 3px solid var(--brwsr-vp-bg-clr); */
    border: 3px solid var(--plnt-2-pr-clr);
    padding-bottom: .5rem;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    /*  justify-content: space-between; */

}

.card>*+* {
    /* border: 2px solid red; */
    padding-inline: 1rem;
}

.card img {
    width: 100%;
    height: 10rem;
    /* object-fit: fit; */
    /* height: 12rem; */
    /* aspect-ratio: 1; */
}

.card .languages {
    display: flex;
    align-items: center;
    gap: .7rem;
    /* flex-wrap: wrap; */
    color: var(--tlbr-icon-clr);
    /* margin: 0; */
    /* padding: 0; */
    /* height: 1rem; */
    /* margin-block: .5rem; */
    /* border: 2px solid red; */
}

.card > p {
    /* border: 2px solid red; */
    text-align: justify;
    margin-bottom: 2rem;

}

.card .button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
}

.card .button *:active {
    transform: translateY(.25rem);
}

.card .visit {
    border-radius: 1rem;
    border: 3px solid var(--brwsr-vp-bg-clr);
    background-color: var(--plnt-2-pr-clr);
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    padding: .1rem 1rem;
}

.card4  {
    position: relative;
    color: hsla(0, 0%, 0%,.1) !important;
}

.mask {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    /* border: 2px solid red; */ 
    background-color: hsla(0, 0%, 0%, .9);
    padding: 30rem;
    /* box-shadow: 1px 1px 1px 1000px hsla(0, 0% , 0% , .9); */
}

.footer {
    background-color: var(--plnt-2-pr-clr);
}

.footer-title::after {
    background-color: var(--brwsr-vp-bg-clr);
}
